# ==========================================================================================
# Author: Pablo González García.
# Created: 20/11/2025
# Last edited: 20/11/2025
# ==========================================================================================


# ==============================
# FICHEROS
# ==============================

# No se suben ficheros de datasets.
*dataset.csv